<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yy.mapper.dsno1.zm.PLCMapper">

    <!--表名 -->
    <sql id="tableName">
        ZM_PLC
    </sql>

    <!--数据字典表名 -->
    <sql id="dicTableName">
        SYS_DICTIONARIES
    </sql>

    <!-- 字段 -->
    <sql id="Field">
        f
        .
        ParaName
        ,
		f.Address,	
		f.ConnectType,	
		f.SymbolName,	
		f.FStatus,	
		f.Remarks,	
		f.CreateTime,	
		f.Creator,	
		f.Modified,	
		f.ModifiedTime,
		f.SaveTable,
		f.SaveField,
		f.LOOP_ID,
        f.ParamType,
        f.FUnit,
        f.IfSave,
		f.PLC_ID,
        f.FModel,
        f.FType,
        f.Passageway
    </sql>

    <!-- 字段用于新增 -->
    <sql id="Field2">
        ParaName
        ,
		Address,	
		ConnectType,	
		SymbolName,	
		FStatus,	
		Remarks,	
		CreateTime,	
		Creator,	
		Modified,	
		ModifiedTime,
		SaveTable,
		SaveField,
		LOOP_ID,
        ParamType,
        FUnit,
        IfSave,
		PLC_ID,
        FModel,
        FType,
        Passageway
    </sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
        #{ParaName}
        ,
        #{Address},
        #{ConnectType},
        #{SymbolName},
        #{FStatus},
        #{Remarks},
        #{CreateTime},
        #{Creator},
        #{Modified},
        #{ModifiedTime},
        #{SaveTable},
        #{SaveField},
        #{LOOP_ID},
        #{ParamType},
        #{FUnit},
        #{IfSave},
        #{PLC_ID},
        #{FModel},
        #{FType},
        #{Passageway}
    </sql>

    <!-- 新增-->
    <insert id="save" parameterType="pd">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field2"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="pd">
        delete from
        <include refid="tableName"></include>
        where
        PLC_ID = #{PLC_ID}
    </delete>

    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        ParaName = #{ParaName},
        Address = #{Address},
        ConnectType = #{ConnectType},
        SymbolName = #{SymbolName},
        FStatus = #{FStatus},
        Remarks = #{Remarks},
        Modified = #{Modified},
        ModifiedTime = #{ModifiedTime},
        LOOP_ID = #{LOOP_ID},
        ParamType = #{ParamType},
        FUnit = #{FUnit},
        PLC_ID = PLC_ID,
        FModel = #{FModel},
        FType = #{FType}
        where
        PLC_ID = #{PLC_ID}
    </update>

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        f
        where
        f.PLC_ID = #{PLC_ID}
        <if test="FModel != null and FModel != ''"><!-- 关键词检索 -->
            and
            f.FModel = #{FModel}
        </if>
    </select>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
        select
        <include refid="Field"></include>,l.FName LoopName
        from
        <include refid="tableName"></include>
        f
        left join ZM_LOOP l on f.LOOP_ID = l.LOOP_ID
        where 1=1
        <if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
            and
            f.ParaName LIKE '%'+ #{pd.KEYWORDS}+'%'
        </if>
        <if test="pd.FType != null and pd.FType != ''"><!-- 关键词检索 -->
            and
            f.FType LIKE '%'+ #{pd.FType}+'%'
        </if>
        <if test="pd.AccParamType != null and pd.AccParamType != ''"><!-- 关键词检索 -->
            and f.ParamType = #{pd.AccParamType}
        </if>
        [fhstart]ORDER BY f.CreateTime DESC [fhend]
    </select>

    <select id="useList" resultType="pd">
        select
        <include refid="Field"></include>,l.FName LoopName
        from
        <include refid="tableName"></include>
        f
        left join ZM_LOOP l on f.LOOP_ID = l.LOOP_ID
        where f.FStatus = '启用' and IfSave = '是'
        ORDER BY f.CreateTime DESC
    </select>

    <select id="useListByLoop" resultType="pd" parameterType="pd">
        select
        <include refid="Field"></include>,l.FName LoopName
        from
        <include refid="tableName"></include>
        f
        left join ZM_LOOP l on f.LOOP_ID = l.LOOP_ID
        where f.FStatus = '启用'
        <if test="ParamType != null and ParamType != ''"><!-- 关键词检索 -->
            and f.ParamType like '%'+ #{ParamType}+'%'
        </if>
        <if test="AccParamType != null and AccParamType != ''"><!-- 关键词检索 -->
            and f.ParamType = #{AccParamType}
        </if>
        <if test="NoContainsParamType != null and NoContainsParamType != ''"><!-- 关键词检索 -->
            and f.ParamType != #{NoContainsParamType}
        </if>
        <if test="FType != null and FType != ''"><!-- 关键词检索 -->
            and f.FType = #{FType}
        </if>
        <if test="LOOP_ID != null and LOOP_ID != ''"><!-- 关键词检索 -->
            and
            f.LOOP_ID = #{LOOP_ID}
        </if>
        <if test="FModel != null and FModel != ''"><!-- 关键词检索 -->
            and
            f.FModel = #{FModel}
        </if>
        ORDER BY f.CreateTime DESC
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>,l.FName LoopName
        from
        <include refid="tableName"></include>
        f
        left join ZM_LOOP l on f.LOOP_ID = l.LOOP_ID
        where 1=1
        <if test="KEYWORDS != null and KEYWORDS != ''"><!-- 关键词检索 -->
            and
            ParaName LIKE '%'+ #{KEYWORDS}+'%'
        </if>
        <if test="FType != null and FType != ''"><!-- 关键词检索 -->
            and f.FType = #{FType}
        </if>
        <if test="loop_id != null and loop_id != ''"><!-- 关键词检索 -->
            and
            f.LOOP_ID = #{loop_id}
        </if>
        <if test="ifSave != null and ifSave != ''"><!-- 关键词检索 -->
            and IfSave = '是'
        </if>
        <if test="ifUse != null and ifUse != '' "><!-- 关键词检索 -->
            and f.FStatus = '启用'
        </if>
        <if test="FModel != null and FModel != ''"><!-- 关键词检索 -->
            and
            f.FModel = #{FModel}
        </if>
        <if test="ParamType != null and ParamType != ''"><!-- 关键词检索 -->
            and f.ParamType like '%'+ #{ParamType}+'%'
        </if>
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        PLC_ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getField" parameterType="pd" resultType="pd">
        SELECT f.FIELD
        FROM (
                 SELECT 'A00' FIELD
                 UNION ALL
                 SELECT 'A01' FIELD
                 UNION ALL
                 SELECT 'A02' FIELD
                 UNION ALL
                 SELECT 'A03' FIELD
                 UNION ALL
                 SELECT 'A04' FIELD
                 UNION ALL
                 SELECT 'A05' FIELD
                 UNION ALL
                 SELECT 'A06' FIELD
                 UNION ALL
                 SELECT 'A07' FIELD
                 UNION ALL
                 SELECT 'A08' FIELD
                 UNION ALL
                 SELECT 'A09' FIELD
                 UNION ALL
                 SELECT 'A10' FIELD
                 UNION ALL
                 SELECT 'A11' FIELD
                 UNION ALL
                 SELECT 'A12' FIELD
                 UNION ALL
                 SELECT 'A13' FIELD
                 UNION ALL
                 SELECT 'A14' FIELD
                 UNION ALL
                 SELECT 'A15' FIELD
                 UNION ALL
                 SELECT 'A16' FIELD
                 UNION ALL
                 SELECT 'A17' FIELD
                 UNION ALL
                 SELECT 'A18' FIELD
                 UNION ALL
                 SELECT 'A19' FIELD
                 UNION ALL
                 SELECT 'A20' FIELD
                 UNION ALL
                 SELECT 'A21' FIELD
                 UNION ALL
                 SELECT 'A22' FIELD
                 UNION ALL
                 SELECT 'A23' FIELD
                 UNION ALL
                 SELECT 'A24' FIELD
                 UNION ALL
                 SELECT 'A25' FIELD
                 UNION ALL
                 SELECT 'A26' FIELD
                 UNION ALL
                 SELECT 'A27' FIELD
                 UNION ALL
                 SELECT 'A28' FIELD
                 UNION ALL
                 SELECT 'A29' FIELD
                 UNION ALL
                 SELECT 'A30' FIELD
                 UNION ALL
                 SELECT 'A31' FIELD
                 UNION ALL
                 SELECT 'A32' FIELD
                 UNION ALL
                 SELECT 'A33' FIELD
                 UNION ALL
                 SELECT 'A34' FIELD
                 UNION ALL
                 SELECT 'A35' FIELD
                 UNION ALL
                 SELECT 'A36' FIELD
                 UNION ALL
                 SELECT 'A37' FIELD
                 UNION ALL
                 SELECT 'A38' FIELD
                 UNION ALL
                 SELECT 'A39' FIELD
                 UNION ALL
                 SELECT 'A40' FIELD
                 UNION ALL
                 SELECT 'A41' FIELD
                 UNION ALL
                 SELECT 'A42' FIELD
                 UNION ALL
                 SELECT 'A43' FIELD
                 UNION ALL
                 SELECT 'A44' FIELD
                 UNION ALL
                 SELECT 'A45' FIELD
                 UNION ALL
                 SELECT 'A46' FIELD
                 UNION ALL
                 SELECT 'A47' FIELD
                 UNION ALL
                 SELECT 'A48' FIELD
                 UNION ALL
                 SELECT 'A49' FIELD
                 UNION ALL
                 SELECT 'A50' FIELD
                 UNION ALL
                 SELECT 'A51' FIELD
                 UNION ALL
                 SELECT 'A52' FIELD
                 UNION ALL
                 SELECT 'A53' FIELD
                 UNION ALL
                 SELECT 'A54' FIELD
                 UNION ALL
                 SELECT 'A55' FIELD
                 UNION ALL
                 SELECT 'A56' FIELD
                 UNION ALL
                 SELECT 'A57' FIELD
                 UNION ALL
                 SELECT 'A58' FIELD
                 UNION ALL
                 SELECT 'A59' FIELD
                 UNION ALL
                 SELECT 'A60' FIELD
                 UNION ALL
                 SELECT 'A61' FIELD
                 UNION ALL
                 SELECT 'A62' FIELD
                 UNION ALL
                 SELECT 'A63' FIELD
                 UNION ALL
                 SELECT 'A64' FIELD
                 UNION ALL
                 SELECT 'A65' FIELD
                 UNION ALL
                 SELECT 'A66' FIELD
                 UNION ALL
                 SELECT 'A67' FIELD
                 UNION ALL
                 SELECT 'A68' FIELD
                 UNION ALL
                 SELECT 'A69' FIELD
                 UNION ALL
                 SELECT 'A70' FIELD
                 UNION ALL
                 SELECT 'A71' FIELD
                 UNION ALL
                 SELECT 'A72' FIELD
                 UNION ALL
                 SELECT 'A73' FIELD
                 UNION ALL
                 SELECT 'A74' FIELD
                 UNION ALL
                 SELECT 'A75' FIELD
                 UNION ALL
                 SELECT 'A76' FIELD
                 UNION ALL
                 SELECT 'A77' FIELD
                 UNION ALL
                 SELECT 'A78' FIELD
                 UNION ALL
                 SELECT 'A79' FIELD
                 UNION ALL
                 SELECT 'A80' FIELD
                 UNION ALL
                 SELECT 'A81' FIELD
                 UNION ALL
                 SELECT 'A82' FIELD
                 UNION ALL
                 SELECT 'A83' FIELD
                 UNION ALL
                 SELECT 'A84' FIELD
                 UNION ALL
                 SELECT 'A85' FIELD
                 UNION ALL
                 SELECT 'A86' FIELD
                 UNION ALL
                 SELECT 'A87' FIELD
                 UNION ALL
                 SELECT 'A88' FIELD
                 UNION ALL
                 SELECT 'A89' FIELD
                 UNION ALL
                 SELECT 'A90' FIELD
                 UNION ALL
                 SELECT 'A91' FIELD
                 UNION ALL
                 SELECT 'A92' FIELD
                 UNION ALL
                 SELECT 'A93' FIELD
                 UNION ALL
                 SELECT 'A94' FIELD
                 UNION ALL
                 SELECT 'A95' FIELD
                 UNION ALL
                 SELECT 'A96' FIELD
                 UNION ALL
                 SELECT 'A97' FIELD
                 UNION ALL
                 SELECT 'A98' FIELD
                 UNION ALL
                 SELECT 'A99' FIELD
             ) f
        WHERE f.FIELD NOT IN (
            SELECT p.SaveField
            FROM ZM_PLC p
            WHERE p.SaveTable = #{SaveTable}
        )
    </select>

    <insert id="saveRecord" parameterType="list">
        <foreach collection="list" item="item">
            ${item.INSERTSQL}
        </foreach>
    </insert>

    <select id="getDuration" parameterType="pd" resultType="pd">
        SELECT ${QueryField}
        FROM T_PatraLight f
        WHERE 1=1
        <choose>
            <when test='DateType == "日"'>
                <if test="FTime != null and FTime != ''"><!-- 关键词检索 -->
                    and
                    SUBSTRING(f.TimeStamp, 0, 11) = #{FTime}
                </if>
            </when>
            <when test='DateType == "月"'>
                <if test="FTime != null and FTime != ''"><!-- 关键词检索 -->
                    and
                    SUBSTRING(f.TimeStamp, 0, 8) = #{FTime}
                </if>
            </when>
            <when test='DateType == "年"'>
                <if test="FTime != null and FTime != ''"><!-- 关键词检索 -->
                    and
                    SUBSTRING(f.TimeStamp, 0, 5) = #{FTime}
                </if>
            </when>
            <otherwise>

            </otherwise>
        </choose>

        <if test="FStatus != null and FStatus != ''"><!-- 关键词检索 -->
            ${FStatus}
        </if>
    </select>

    <update id="deletePlcData" parameterType="pd">
        update ${SaveTable} set ${SaveField} = null
    </update>

    <!-- yy356703572qq(彬耶) -->
</mapper>