<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yy.mapper.dsno1.zm.SceneMapper">

    <!--表名 -->
    <sql id="tableName">
        ZM_SCENE
    </sql>

    <!--数据字典表名 -->
    <sql id="dicTableName">
        SYS_DICTIONARIES
    </sql>

    <!-- 字段 -->
    <sql id="Field">
        f
        .
        FName
        ,
		f.FCode,	
		f.Workshop,	
		f.Loop,	
		f.Remarks,	
		f.CreateTime,	
		f.Creator,	
		f.Modified,	
		f.ModifiedTime,	
		f.FStatus,
        f.FDateStatus,
		f.SCENE_ID
    </sql>

    <!-- 字段用于新增 -->
    <sql id="Field2">
        FName
        ,
		FCode,	
		Workshop,	
		Loop,	
		Remarks,	
		CreateTime,	
		Creator,	
		Modified,	
		ModifiedTime,	
		FStatus,
        FDateStatus,
		SCENE_ID
    </sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
        #{FName}
        ,
        #{FCode},
        #{Workshop},
        #{Loop},
        #{Remarks},
        #{CreateTime},
        #{Creator},
        #{Modified},
        #{ModifiedTime},
        #{FStatus},
        #{FDateStatus},
        #{SCENE_ID}
    </sql>

    <!-- 新增-->
    <insert id="save" parameterType="pd">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field2"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="pd">
        delete from
        <include refid="tableName"></include>
        where
        SCENE_ID = #{SCENE_ID}
    </delete>

    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        FName = #{FName},
        FCode = #{FCode},
        Workshop = #{Workshop},
        Loop = #{Loop},
        Remarks = #{Remarks},
        CreateTime = #{CreateTime},
        Creator = #{Creator},
        Modified = #{Modified},
        ModifiedTime = #{ModifiedTime},
        FStatus = #{FStatus},
        SCENE_ID = SCENE_ID
        where
        SCENE_ID = #{SCENE_ID}
    </update>

    <update id="editStatus" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        FStatus = #{FStatus}
        where
        SCENE_ID = #{SCENE_ID}
    </update>

    <update id="editDateStatus" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        FDateStatus = #{FDateStatus}
        where
        SCENE_ID = #{SCENE_ID}
    </update>

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        f
        where
        f.SCENE_ID = #{SCENE_ID}
    </select>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
        select
        <include refid="Field"></include>,a.FNAME AreaName
        from
        <include refid="tableName"></include>
        f
        left join MDM_AREA a on a.AREA_ID = f.Workshop
        where 1=1
        <if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
            and
            (
            f.FName LIKE '%'+ #{pd.KEYWORDS}+'%'
            or
            f.FCode LIKE '%'+ #{pd.KEYWORDS}+'%'
            )
        </if>
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>,a.FNAME AreaName
        from
        <include refid="tableName"></include>
        f
        left join MDM_AREA a on a.AREA_ID = f.Workshop
        where 1=1
        <if test="FName != null and FName != ''"><!-- 关键词检索 -->
            and f.FCode = #{FName}
        </if>
        <if test="KEYWORDS != null and KEYWORDS != ''"><!-- 关键词检索 -->
            and
            (
            f.FName LIKE '%'+ #{KEYWORDS}+'%'
            or
            f.FCode LIKE '%'+ #{KEYWORDS}+'%'
            )
        </if>
    </select>

    <!-- 已启用列表(全部) -->
    <select id="listOnAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>,a.FNAME AreaName
        from
        <include refid="tableName"></include>
        f
        left join MDM_AREA a on a.AREA_ID = f.Workshop
        where FStatus = '1'
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        SCENE_ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- yy356703572qq(彬耶) -->
</mapper>