<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yy.mapper.dsno1.KeyCustomers.CustomerYJMapper">
	
	<!--表名 -->
	<sql id="tableName">
		CUS_CustomerYJ
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.FYEAR,	
		f.JHJINE,	
		f.DDJINE,	
		f.CKJINE,	
		f.BEIZHU,	
		f.CREATER,	
		f.CREATTIME,	
		f.CUSTOMER_NAME,	
		f.TTYPE,	
		f.CustomerYJ_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		FYEAR,	
		JHJINE,	
		DDJINE,	
		CKJINE,	
		BEIZHU,	
		CREATER,	
		CREATTIME,	
		CUSTOMER_NAME,	
		TTYPE,	
		CustomerYJ_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{FYEAR},	
		#{JHJINE},	
		#{DDJINE},	
		#{CKJINE},	
		#{BEIZHU},	
		#{CREATER},	
		#{CREATTIME},	
		#{CUSTOMER_NAME},	
		#{TTYPE},	
		#{CustomerYJ_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			CustomerYJ_ID = #{CustomerYJ_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FYEAR = #{FYEAR},
			JHJINE = #{JHJINE},
			DDJINE = #{DDJINE},
			CKJINE = #{CKJINE},
			BEIZHU = #{BEIZHU},
			CREATER = #{CREATER},
			CREATTIME = #{CREATTIME},
			CUSTOMER_NAME = #{CUSTOMER_NAME},
			TTYPE = #{TTYPE},
			CustomerYJ_ID = CustomerYJ_ID
		where 
			CustomerYJ_ID = #{CustomerYJ_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.CustomerYJ_ID = #{CustomerYJ_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
		<if test="pd.FName != null and pd.FName != ''">
			and f.CUSTOMER_NAME = #{pd.FName}
		</if>
		[fhstart] order by f.CREATTIME desc[fhend]
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			CustomerYJ_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- yy356703572qq(彬耶) -->
</mapper>