<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yy.mapper.dsno1.km.ProcessDefectiveItemsMapper">
	
	<!--工序次品项表名 -->
	<sql id="tableName">
		KM_ProcessDefectiveItems
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.ProcessDefectiveItems_ID,	
		f.WP_ID,	
		f.DefectiveCategory,	
		f.DefectiveItemName
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		ProcessDefectiveItems_ID,	
		WP_ID,	
		DefectiveCategory,	
		DefectiveItemName
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ProcessDefectiveItems_ID},	
		#{WP_ID},	
		#{DefectiveCategory},	
		#{DefectiveItemName}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ProcessDefectiveItems_ID = #{ProcessDefectiveItems_ID}
	</delete>
	
	<!-- 根据工序定义id删除-->
	<delete id="deleteByProcessDefinition_ID" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			WP_ID = #{WP_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			WP_ID = #{WP_ID},
			DefectiveCategory = #{DefectiveCategory},
			DefectiveItemName = #{DefectiveItemName}
		where 
			ProcessDefectiveItems_ID = #{ProcessDefectiveItems_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.ProcessDefectiveItems_ID = #{ProcessDefectiveItems_ID}
	</select>
	
	<!-- 通过工序定义ID获取数据 -->
	<select id="findByWP_ID" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.WP_ID = #{WP_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
		<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					f.DefectiveCategory LIKE '%'+ #{pd.KEYWORDS}+'%'
					 or 
					f.DefectiveItemName LIKE '%'+ #{pd.KEYWORDS}+'%' 
				)
		</if>
		<if test="pd.WP_ID != null and pd.WP_ID != ''"><!-- 工序id -->
			and f.WP_ID = #{pd.WP_ID}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f 
		where 1=1 
		<if test="KEYWORDS != null and KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					f.DefectiveCategory LIKE '%'+ #{KEYWORDS}+'%'
					 or 
					f.DefectiveItemName LIKE '%'+ #{KEYWORDS}+'%' 
				)
		</if>
		<if test="WP_ID != null and WP_ID != ''"><!-- 工序id -->
			and f.WP_ID = #{WP_ID}
		</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ProcessDefectiveItems_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- yy356703572qq(彬耶) -->
</mapper>