<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yy.mapper.dsno1.km.WorkingProcedureDefectiveItemsMapper">
	
	<!--工艺工序次品项表名 -->
	<sql id="tableName">
		KM_WorkingProcedureDefectiveItems
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.WorkingProcedureDefectiveItems_ID,	
		f.WorkingProcedure_ID,	
		f.DefectiveCategory,	
		f.DefectiveItemName
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		WorkingProcedureDefectiveItems_ID,	
		WorkingProcedure_ID,	
		DefectiveCategory,	
		DefectiveItemName
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{WorkingProcedureDefectiveItems_ID},	
		#{WorkingProcedure_ID},	
		#{DefectiveCategory},	
		#{DefectiveItemName}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			WorkingProcedureDefectiveItems_ID = #{WorkingProcedureDefectiveItems_ID}
	</delete>
	
	<!-- 根据工艺工序id删除-->
	<delete id="deleteByWorkingProcedure_ID" parameterType="pd">
		delete from 
		<include refid="tableName"></include>
		where 
			WorkingProcedure_ID = #{WorkingProcedure_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			WorkingProcedureDefectiveItems_ID = #{WorkingProcedureDefectiveItems_ID},
			WorkingProcedure_ID = #{WorkingProcedure_ID},
			DefectiveCategory = #{DefectiveCategory},
			DefectiveItemName = #{DefectiveItemName}
		where 
			WorkingProcedureDefectiveItems_ID = #{WorkingProcedureDefectiveItems_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.WorkingProcedureDefectiveItems_ID = #{WorkingProcedureDefectiveItems_ID}
	</select>
	
	<!-- 通过次品项分类和次品项名称查询数据数量 -->
	<select id="findByDefectiveCategoryAndDefectiveItemName" parameterType="pd" resultType="pd">
		select count(*) zs from 
		<include refid="tableName"></include> f 
		where 
			f.WorkingProcedure_ID = #{WorkingProcedure_ID}
		and 
			f.DefectiveCategory = #{DefectiveCategory}
		and 
			f.DefectiveItemName = #{DefectiveItemName}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
		<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					f.DefectiveCategory LIKE '%'+ #{pd.KEYWORDS}+'%'
					 or 
					f.DefectiveItemName LIKE '%'+ #{pd.KEYWORDS}+'%' 
				)
		</if>
		<if test="pd.WorkingProcedure_ID != null and pd.WorkingProcedure_ID != ''"><!-- 工艺工序id -->
			and f.WorkingProcedure_ID = #{pd.WorkingProcedure_ID}
		</if>
		<if test="pd.DefectiveCategory != null and pd.DefectiveCategory != ''"><!-- 工艺工序次品项分类 -->
			and f.DefectiveCategory = #{pd.DefectiveCategory}
		</if>
		<if test="pd.DefectiveItemName != null and pd.DefectiveItemName != ''"><!-- 工艺工序次品项名称 -->
			and f.DefectiveItemName = #{pd.DefectiveItemName}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f 
		where 1=1 
		<if test="KEYWORDS != null and KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					f.DefectiveCategory LIKE '%'+ #{KEYWORDS}+'%'
					 or 
					f.DefectiveItemName LIKE '%'+ #{KEYWORDS}+'%' 
				)
		</if>
		<if test="WorkingProcedure_ID != null and WorkingProcedure_ID != ''"><!-- 工艺工序id -->
			and f.WorkingProcedure_ID = #{WorkingProcedure_ID}
		</if>
		<if test="DefectiveCategory != null and DefectiveCategory != ''"><!-- 工艺工序次品项分类 -->
			and f.DefectiveCategory = #{DefectiveCategory}
		</if>
		<if test="DefectiveItemName != null and DefectiveItemName != ''"><!-- 工艺工序次品项名称 -->
			and f.DefectiveItemName = #{DefectiveItemName}
		</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			WorkingProcedureDefectiveItems_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- yy356703572qq(彬耶) -->
</mapper>