<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yy.mapper.dsno1.trouble.TroubleReportMapper">
	
	<!--表名 -->
	<sql id="tableName">
		HSE_TROUBLEREPORT
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.REPORT_TYPE,	
		f.REPORT_DATE,	
		f.RESULT,	
		f.CREATE_BY,	
		f.CREATE_TIME,	
		f.REMARK,	
		f.STATUS,	
		f.SUGGESTION,	
		f.TROUBLEREPORT_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		REPORT_TYPE,	
		REPORT_DATE,	
		RESULT,	
		CREATE_BY,	
		CREATE_TIME,	
		REMARK,	
		STATUS,	
		SUGGESTION,	
		TROUBLEREPORT_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{REPORT_TYPE},	
		#{REPORT_DATE},	
		#{RESULT},	
		#{CREATE_BY},	
		#{CREATE_TIME},	
		#{REMARK},	
		#{STATUS},	
		#{SUGGESTION},	
		#{TROUBLEREPORT_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			TROUBLEREPORT_ID = #{TROUBLEREPORT_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			REPORT_TYPE = #{REPORT_TYPE},
			REPORT_DATE = #{REPORT_DATE},
			RESULT = #{RESULT},
			CREATE_BY = #{CREATE_BY},
			CREATE_TIME = #{CREATE_TIME},
			REMARK = #{REMARK},
			STATUS = #{STATUS},
			SUGGESTION = #{SUGGESTION},
			TROUBLEREPORT_ID = TROUBLEREPORT_ID
		where 
			TROUBLEREPORT_ID = #{TROUBLEREPORT_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.TROUBLEREPORT_ID = #{TROUBLEREPORT_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
		<if test="pd.KEYWORDS1 != null and pd.KEYWORDS1 != ''"><!-- 关键词检索 -->
			and
				(
					f.REPORT_TYPE  LIKE '%'+ #{pd.KEYWORDS1}+'%'
				)
		</if>
		<if test="pd.KEYWORDS3 != null and pd.KEYWORDS3 != ''"><!-- 关键词检索 -->
			and
			(
			f.STATUS  LIKE '%'+ #{pd.KEYWORDS3}+'%'
			)
		</if>
		[fhstart] order by f.CREATE_TIME desc [fhend]
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			TROUBLEREPORT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- yy356703572qq(彬耶) -->
</mapper>