<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yy.mapper.dsno1.ny.NY_EQM_FILESMapper">
	
	<!--表名 -->
	<sql id="tableName">
		NY_EQM_FILES
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.FName,	
		f.FilePath,	
		f.Creator,	
		f.CreateTime,	
		f.FileType,
		f.EQUIPMENT_ID,
		f.EQM_FILES_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		FName,	
		FilePath,	
		Creator,	
		CreateTime,	
		FileType,
		EQUIPMENT_ID,
		EQM_FILES_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{FName},	
		#{FilePath},	
		#{Creator},	
		#{CreateTime},	
		#{FileType},
		#{EQUIPMENT_ID},
		#{EQM_FILES_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			EQM_FILES_ID = #{EQM_FILES_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FName = #{FName},
			FilePath = #{FilePath},
			FileType = #{FileType},
			EQM_FILES_ID = EQM_FILES_ID
		where 
			EQM_FILES_ID = #{EQM_FILES_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.EQM_FILES_ID = #{EQM_FILES_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>,d.NAME DictName
		from 
		<include refid="tableName"></include> f
		left join SYS_DICTIONARIES d on f.FileType = d.DICTIONARIES_ID
		where 1=1
		<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and FName LIKE '%'+ #{pd.KEYWORDS}+'%'
		</if>
		<if test="pd.EQUIPMENT_ID != null and pd.EQUIPMENT_ID != ''"><!-- 关键词检索 -->
			and EQUIPMENT_ID = #{pd.EQUIPMENT_ID}
		</if>
		<if test="pd.FileType != null and pd.FileType != ''"><!-- 关键词检索 -->
			and FileType = #{pd.FileType}
		</if>
		[fhstart]ORDER BY CreateTime DESC[fhend]
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			EQM_FILES_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

<!--设备级联删除-->
	<delete id="deleteByEqm" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		EQUIPMENT_ID = #{EQUIPMENT_ID}
	</delete>
	
	<!-- yy356703572qq(彬耶) -->
</mapper>