<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yy.mapper.dsno1.mm.StockMapper">

	<!--表名 -->
	<sql id="tableName">
		MM_Stock
	</sql>

	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		f.Stock_ID,
		f.StorageStatus,
		f.QRCode,
		f.OneThingCode,
		f.ItemID,
		f.MaterialSProp,
		f.MaterialSPropKey,
		f.SpecificationDesc,
		f.WarehouseID,
		f.PositionID,
		f.ActualCount,
		f.UseCount,
		f.UseIf,
		f.FUnit,
		f.FLevel,
		f.SalesOrder,
		f.ProjectNum,
		f.QualityStatus,
		f.QITime,
		f.BusinessStatus,
		f.FBatch,
		f.CustomerID,
		f.SupplierID,
		f.GuaranteePeriod,
		f.PlanTrackingNumber,
		f.SupplierBatch,
		f.IncomingBatch,
		f.ProductionBatch,
		f.RunningState,
		f.FCreatePersonID,
		f.FCreateTime,
		f.UsageTime,
		f.DateOfManufacture,
		f.IncomingSpecification,
		f.LastModifiedTime,
		f.LastCountTime,
		f.FExplanation,
		f.FStatus
	</sql>

	<!-- 字段用于新增 -->
	<sql id="Field2">
		Stock_ID,
		StorageStatus,
		QRCode,
		OneThingCode,
		ItemID,
		MaterialSProp,
		MaterialSPropKey,
		SpecificationDesc,
		WarehouseID,
		PositionID,
		ActualCount,
		UseCount,
		UseIf,
		FUnit,
		FLevel,
		SalesOrder,
		ProjectNum,
		QualityStatus,
		QITime,
		BusinessStatus,
		FBatch,
		CustomerID,
		SupplierID,
		GuaranteePeriod,
		PlanTrackingNumber,
		SupplierBatch,
		IncomingBatch,
		ProductionBatch,
		RunningState,
		FCreatePersonID,
		FCreateTime,
		UsageTime,
		DateOfManufacture,
		IncomingSpecification,
		LastModifiedTime,
		LastCountTime,
		FExplanation,
		FStatus
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{Stock_ID},
		#{StorageStatus},
		#{QRCode},
		#{OneThingCode},
		#{ItemID},
		#{MaterialSProp},
		#{MaterialSPropKey},
		#{SpecificationDesc},
		#{WarehouseID},
		#{PositionID},
		#{ActualCount},
		#{UseCount},
		#{UseIf},
		#{FUnit},
		#{FLevel},
		#{SalesOrder},
		#{ProjectNum},
		#{QualityStatus},
		#{QITime},
		#{BusinessStatus},
		#{FBatch},
		#{CustomerID},
		#{SupplierID},
		#{GuaranteePeriod},
		#{PlanTrackingNumber},
		#{SupplierBatch},
		#{IncomingBatch},
		#{ProductionBatch},
		#{RunningState},
		#{FCreatePersonID},
		#{FCreateTime},
		#{UsageTime},
		#{DateOfManufacture},
		#{IncomingSpecification},
		#{LastModifiedTime},
		#{LastCountTime},
		#{FExplanation},
		#{FStatus}
	</sql>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field2"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		Stock_ID = #{Stock_ID}
	</delete>
	
	<!-- 根据唯一码删除库存物料 -->
	<delete id="deleteByOneThingCode" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		OneThingCode = #{OneThingCode}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		StorageStatus = #{StorageStatus},
		QRCode = #{QRCode},
		OneThingCode = #{OneThingCode},
		ItemID = #{ItemID},
		MaterialSProp = #{MaterialSProp},
		MaterialSPropKey = #{MaterialSPropKey},
		SpecificationDesc = #{SpecificationDesc},
		WarehouseID = #{WarehouseID},
		PositionID = #{PositionID},
		ActualCount = #{ActualCount},
		UseCount = #{UseCount},
		UseIf = #{UseIf},
		FUnit = #{FUnit},
		FLevel = #{FLevel},
		SalesOrder = #{SalesOrder},
		ProjectNum = #{ProjectNum},
		QualityStatus = #{QualityStatus},
		QITime = #{QITime},
		BusinessStatus = #{BusinessStatus},
		FBatch = #{FBatch},
		CustomerID = #{CustomerID},
		SupplierID = #{SupplierID},
		GuaranteePeriod = #{GuaranteePeriod},
		PlanTrackingNumber = #{PlanTrackingNumber},
		SupplierBatch = #{SupplierBatch},
		IncomingBatch = #{IncomingBatch},
		ProductionBatch = #{ProductionBatch},
		RunningState = #{RunningState},
		FCreatePersonID = #{FCreatePersonID},
		FCreateTime = #{FCreateTime},
		UsageTime = #{UsageTime},
		DateOfManufacture = #{DateOfManufacture},
		IncomingSpecification = #{IncomingSpecification},
		LastModifiedTime = #{LastModifiedTime},
		LastCountTime = #{LastCountTime},
		FExplanation = #{FExplanation},
		FStatus = #{FStatus}
		where
		Stock_ID = #{Stock_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		s.FName Supplier_Name,s.FNum Supplier_Num,
		c.FName Customer_Name,c.FNum Customer_Num,
		m.MAT_NAME,m.MAT_CODE,
		w.FNAME WarehouseName,w.FCODE WarehouseCode,
		l.FNAME PositionName,l.FCODE PositionCode,
		mx.MAT_AUXILIARYMX_NAME,mx.MAT_AUXILIARYMX_CODE,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		left join MWMS_WH_WAREHOUSE w on f.WarehouseID=w.WH_WAREHOUSE_ID
		left join MWMS_WH_LOCATION l on f.PositionID=l.WH_LOCATION_ID
		left join MBASE_MAT_BASIC m on f.ItemID=m.MAT_BASIC_ID
		left join KM_Supplier s on f.SupplierID=s.Supplier_ID
		left join KM_Customer c on f.CustomerID=c.Customer_ID
		LEFT JOIN MBASE_MAT_AUXILIARYMX mx ON mx.MAT_AUXILIARYMX_ID = f.MaterialSPropKey
		where
		f.Stock_ID = #{Stock_ID}
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		s.FName Supplier_Name,s.FNum Supplier_Num,
		c.FName Customer_Name,c.FNum Customer_Num,
		m.MAT_NAME,m.MAT_CODE,
		w.FNAME WarehouseName,w.FCODE WarehouseCode,
		l.FNAME PositionName,l.FCODE PositionCode,
		mx.MAT_AUXILIARYMX_NAME,unit.FNAME AS FUnitName,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		left join MWMS_WH_WAREHOUSE w on f.WarehouseID=w.WH_WAREHOUSE_ID
		left join MWMS_WH_LOCATION l on f.PositionID=l.WH_LOCATION_ID
		left join MBASE_MAT_BASIC m on f.ItemID=m.MAT_BASIC_ID
		left join KM_Supplier s on f.SupplierID=s.Supplier_ID
		left join KM_Customer c on f.CustomerID=c.Customer_ID
		LEFT JOIN MBASE_MAT_AUXILIARYMX mx ON mx.MAT_AUXILIARYMX_ID = f.MaterialSPropKey
		LEFT JOIN MBASE_UNIT_INFO unit ON unit.UNIT_INFO_ID = f.FUnit
		where 1=1
		and f.ActualCount &gt; 0 
		<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
			(
			f.QRCode LIKE '%'+ #{pd.KEYWORDS}+'%'
			or
			f.OneThingCode LIKE '%'+ #{pd.KEYWORDS}+'%'
			or
			f.ProjectNum LIKE '%'+ #{pd.KEYWORDS}+'%'
			or
			f.FBatch LIKE '%'+ #{pd.KEYWORDS}+'%'
			or
			f.PlanTrackingNumber LIKE '%'+ #{pd.KEYWORDS}+'%'
			or
			f.SupplierBatch LIKE '%'+ #{pd.KEYWORDS}+'%'
			or
			f.IncomingBatch LIKE '%'+ #{pd.KEYWORDS}+'%'
			or
			f.ProductionBatch LIKE '%'+ #{pd.KEYWORDS}+'%'
			)
		</if>
		<if test="pd.QRCode != null and pd.QRCode != ''"><!-- 二维码 -->
			and f.QRCode = #{pd.QRCode}
		</if>
		<if test="pd.OneThingCode != null and pd.OneThingCode != ''"><!-- 一物码 -->
			and f.OneThingCode = #{pd.OneThingCode}
		</if>
		<if test="pd.ItemID != null and pd.ItemID != ''"><!-- 物料ID -->
			and f.ItemID = #{pd.ItemID}
		</if>
		<if test="pd.WarehouseID != null and pd.WarehouseID != ''"><!-- 仓库ID -->
			and f.WarehouseID = #{pd.WarehouseID}
		</if>
		<if test="pd.PositionID != null and pd.PositionID != ''"><!-- 仓位ID -->
			and f.PositionID = #{pd.PositionID}
		</if>
		<if test="pd.UseIf != null and pd.UseIf != ''"><!-- 是否占用 -->
			and f.UseIf = #{pd.UseIf}
		</if>
		<if test="pd.FLevel != null and pd.FLevel != ''"><!-- 等级 -->
			and f.FLevel = #{pd.FLevel}
		</if>
		<if test="pd.SalesOrder != null and pd.SalesOrder != ''"><!-- 销售订单 -->
			and f.SalesOrder = #{pd.SalesOrder}
		</if>
		<if test="pd.QualityStatus != null and pd.QualityStatus != ''"><!-- 质量状态(待检,合格) -->
			and f.QualityStatus = #{pd.QualityStatus}
		</if>
		<if test="pd.ProjectNum != null and pd.ProjectNum != ''"><!-- 项目编码 -->
			and f.ProjectNum = #{pd.ProjectNum}
		</if>
		<if test="pd.FBatch != null and pd.FBatch != ''"><!-- 批次 -->
			and f.FBatch = #{pd.FBatch}
		</if>
		<if test="pd.CustomerID != null and pd.CustomerID != ''"><!-- 客户ID -->
			and f.CustomerID = #{pd.CustomerID}
		</if>
		<if test="pd.SupplierID != null and pd.SupplierID != ''"><!-- 供应商ID -->
			and f.SupplierID = #{pd.SupplierID}
		</if>
		<if test="pd.PlanTrackingNumber != null and pd.PlanTrackingNumber != ''"><!-- 计划跟踪号 -->
			and f.PlanTrackingNumber = #{pd.PlanTrackingNumber}
		</if>
		<if test="pd.SupplierBatch != null and pd.SupplierBatch != ''"><!-- 供应商批次 -->
			and f.SupplierBatch = #{pd.SupplierBatch}
		</if>
		<if test="pd.IncomingBatch != null and pd.IncomingBatch != ''"><!-- 入厂批次 -->
			and f.IncomingBatch = #{pd.IncomingBatch}
		</if>
		<if test="pd.ProductionBatch != null and pd.ProductionBatch != ''"><!-- 生产批次 -->
			and f.ProductionBatch = #{pd.ProductionBatch}
		</if>
		<if test="pd.RunningState != null and pd.RunningState != ''"><!-- 行状态(在用,停用) -->
			and f.RunningState = #{pd.RunningState}
		</if>
		<if test="pd.FStatus != null and pd.FStatus != ''"><!-- 状态（入库、出库、退库、转移） -->
			and f.FStatus = #{pd.FStatus}
		</if>
		<if test="pd.FTYPE != null and pd.FTYPE != ''"><!-- 仓库类型：车间库、工厂库 -->
			and w.FTYPE = #{pd.FTYPE}
		</if>
		[fhstart] ORDER BY f.FCreateTime DESC [fhend]
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		s.FName Supplier_Name,s.FNum Supplier_Num,
		c.FName Customer_Name,c.FNum Customer_Num,
		m.MAT_NAME,m.MAT_CODE,
		w.FNAME WarehouseName,w.FCODE WarehouseCode,
		l.FNAME PositionName,l.FCODE PositionCode, 
		mx.MAT_AUXILIARYMX_NAME,unit.FNAME AS FUnitName,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		left join MWMS_WH_WAREHOUSE w on f.WarehouseID=w.WH_WAREHOUSE_ID
		left join MWMS_WH_LOCATION l on f.PositionID=l.WH_LOCATION_ID
		left join MBASE_MAT_BASIC m on f.ItemID=m.MAT_BASIC_ID
		left join KM_Supplier s on f.SupplierID=s.Supplier_ID
		left join KM_Customer c on f.CustomerID=c.Customer_ID
		LEFT JOIN MBASE_MAT_AUXILIARYMX mx ON mx.MAT_AUXILIARYMX_ID = f.MaterialSPropKey
		LEFT JOIN MBASE_UNIT_INFO unit ON unit.UNIT_INFO_ID = f.FUnit
		where 1=1
		<if test="inputMat != null and inputMat != ''">
		and f.SpecificationDesc is not null and f.ActualCount &gt; 0
		</if>
		<if test="KEYWORDS != null and KEYWORDS != ''"><!-- 关键词检索 -->
			and
			(
			f.QRCode LIKE '%'+ #{KEYWORDS}+'%'
			or
			f.OneThingCode LIKE '%'+ #{KEYWORDS}+'%'
			or
			f.ProjectNum LIKE '%'+ #{KEYWORDS}+'%'
			or
			f.FBatch LIKE '%'+ #{KEYWORDS}+'%'
			or
			f.PlanTrackingNumber LIKE '%'+ #{KEYWORDS}+'%'
			or
			f.SupplierBatch LIKE '%'+ #{KEYWORDS}+'%'
			or
			f.IncomingBatch LIKE '%'+ #{KEYWORDS}+'%'
			or
			f.ProductionBatch LIKE '%'+ #{KEYWORDS}+'%'
			)
		</if>
		<if test="QRCode != null and QRCode != ''"><!-- 二维码 -->
			and f.QRCode = #{QRCode}
		</if>
		<if test="OneThingCode != null and OneThingCode != ''"><!-- 一物码 -->
			and f.OneThingCode = #{OneThingCode}
		</if>
		<if test="ItemID != null and ItemID != ''"><!-- 物料ID -->
			and f.ItemID = #{ItemID}
		</if>
		<if test="WarehouseID != null and WarehouseID != ''"><!-- 仓库ID -->
			and f.WarehouseID = #{WarehouseID}
		</if>
		<if test="PositionID != null and PositionID != ''"><!-- 仓位ID -->
			and f.PositionID = #{PositionID}
		</if>
		<if test="UseIf != null and UseIf != ''"><!-- 是否占用 -->
			and f.UseIf = #{UseIf}
		</if>
		<if test="FLevel != null and FLevel != ''"><!-- 等级 -->
			and f.FLevel = #{FLevel}
		</if>
		<if test="SalesOrder != null and SalesOrder != ''"><!-- 销售订单 -->
			and f.SalesOrder = #{SalesOrder}
		</if>
		<if test="QualityStatus != null and QualityStatus != ''"><!-- 质量状态(待检,合格) -->
			and f.QualityStatus = #{QualityStatus}
		</if>
		<if test="ProjectNum != null and ProjectNum != ''"><!-- 项目编码 -->
			and f.ProjectNum = #{ProjectNum}
		</if>
		<if test="FBatch != null and FBatch != ''"><!-- 批次 -->
			and f.FBatch = #{FBatch}
		</if>
		<if test="CustomerID != null and CustomerID != ''"><!-- 客户ID -->
			and f.CustomerID = #{CustomerID}
		</if>
		<if test="SupplierID != null and SupplierID != ''"><!-- 供应商ID -->
			and f.SupplierID = #{SupplierID}
		</if>
		<if test="PlanTrackingNumber != null and PlanTrackingNumber != ''"><!-- 计划跟踪号 -->
			and f.PlanTrackingNumber = #{PlanTrackingNumber}
		</if>
		<if test="SupplierBatch != null and SupplierBatch != ''"><!-- 供应商批次 -->
			and f.SupplierBatch = #{SupplierBatch}
		</if>
		<if test="IncomingBatch != null and IncomingBatch != ''"><!-- 入厂批次 -->
			and f.IncomingBatch = #{IncomingBatch}
		</if>
		<if test="ProductionBatch != null and ProductionBatch != ''"><!-- 生产批次 -->
			and f.ProductionBatch = #{ProductionBatch}
		</if>
		<if test="RunningState != null and RunningState != ''"><!-- 行状态(在用,停用) -->
			and f.RunningState = #{RunningState}
		</if>
		<if test="FStatus != null and FStatus != ''"><!-- 状态（入库、出库、退库、转移） -->
			and f.FStatus = #{FStatus}
		</if>
		<if test="FTYPE != null and FTYPE != ''"><!-- 仓库类型：车间库、工厂库 -->
			and w.FTYPE = #{FTYPE}
		</if>
		<if test="MaterialSPropKey != null and MaterialSPropKey != ''"><!-- 仓库类型：车间库、工厂库 -->
			and f.MaterialSPropKey = #{MaterialSPropKey}
		</if>
		ORDER BY f.FCreateTime DESC
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		Stock_ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 获取仓库id和物料id和辅助属性值id下的可用库存数量，包含辅助属性自身的锁库库存和公用库存数量 -->
	<select id="getSum" parameterType="pd" resultType="pd">
		SELECT SUM(f.ActualCount) stockSum FROM MM_Stock f
		WHERE 1=1
		<if test="PlanTrackingNumber != null and PlanTrackingNumber != ''"><!-- 计划跟踪号 -->
			and f.PlanTrackingNumber = #{PlanTrackingNumber}
		</if>
		<if test="ItemID != null and ItemID != ''"><!-- 物料ID -->
			AND f.ItemID = #{ItemID}
		</if>
		<if test="WarehouseID != null and WarehouseID != ''"><!-- 仓库ID -->
			AND f.WarehouseID = #{WarehouseID}
		</if>
		<if test="PositionID != null and PositionID != ''"><!-- 仓位ID -->
			and f.PositionID = #{PositionID}
		</if>
		<if test="QRCode != null and QRCode != ''"><!-- 库存二维码，理论上唯一 -->
			and f.QRCode = #{QRCode}
		</if>
		<if test="MaterialSProp != null and MaterialSProp != ''"><!-- 辅助属性ID，自己的或者公用的 -->
			AND
			<if test="MaterialSProp != '80108fa272884119b09eab03a78d3cc5'">
				(
			</if>
			f.MaterialSProp = #{MaterialSProp}
			<if test="MaterialSProp != '80108fa272884119b09eab03a78d3cc5'">
				or f.MaterialSProp='80108fa272884119b09eab03a78d3cc5')
			</if>
		</if>
		<if test="MaterialSPropKey != null and MaterialSPropKey != ''"><!-- 辅助属性值ID，自己的或者公用的 -->
			AND
			<if test="MaterialSPropKey != '4486905b9e47428985c36c9d55d21ad7'">
				(
			</if>
			f.MaterialSPropKey = #{MaterialSPropKey}
			<if test="MaterialSPropKey != '4486905b9e47428985c36c9d55d21ad7'">
				or f.MaterialSPropKey = '4486905b9e47428985c36c9d55d21ad7')
			</if>
		</if>
	</select>

	<!-- 获取仓库id和物料id和辅助属性值id下的库存列表，根据库存实际数量排序由小到大排序 -->
	<select id="stockList" parameterType="pd" resultType="pd">
		SELECT w.FNAME warehousename,l.FNAME locationname,f.* FROM MM_Stock f
		LEFT JOIN MWMS_WH_WAREHOUSE w ON f.WarehouseID=w.WH_WAREHOUSE_ID
		LEFT JOIN MWMS_WH_LOCATION l ON f.PositionID=l.WH_LOCATION_ID
		LEFT JOIN MBASE_MAT_AUXILIARYMX mam ON
		f.MaterialSPropKey=mam.MAT_AUXILIARYMX_ID
		WHERE 1=1 AND f.ActualCount &gt; 0
		<if test="PlanTrackingNumber != null and PlanTrackingNumber != ''"><!-- 计划跟踪号 -->
			and f.PlanTrackingNumber = #{PlanTrackingNumber}
		</if>
		<if test="ItemID != null and ItemID != ''"><!-- 物料ID -->
			and f.ItemID = #{ItemID}
		</if>
		<if test="WarehouseID != null and WarehouseID != ''"><!-- 仓库ID -->
			and f.WarehouseID = #{WarehouseID}
		</if>
		<if test="PositionID != null and PositionID != ''"><!-- 仓位ID -->
			and f.PositionID = #{PositionID}
		</if>
		<if test="QRCode != null and QRCode != ''"><!-- 库存二维码，理论上唯一 -->
			and f.QRCode = #{QRCode}
		</if>
		<if test="MaterialSProp != null and MaterialSProp != ''"><!-- 辅助属性ID，自己的或者公用的 -->
			AND
			<if test="MaterialSProp != '80108fa272884119b09eab03a78d3cc5'">
				(
			</if>
			f.MaterialSProp = #{MaterialSProp}
			<if test="MaterialSProp != '80108fa272884119b09eab03a78d3cc5'">
				or f.MaterialSProp='80108fa272884119b09eab03a78d3cc5')
			</if>
		</if>
		<if test="MaterialSPropKey != null and MaterialSPropKey != ''"><!-- 辅助属性值ID，自己的或者公用的 -->
			AND
			<if test="MaterialSPropKey != '4486905b9e47428985c36c9d55d21ad7'">
				(
			</if>
			f.MaterialSPropKey = #{MaterialSPropKey}
			<if test="MaterialSPropKey != '4486905b9e47428985c36c9d55d21ad7'">
				or f.MaterialSPropKey = '4486905b9e47428985c36c9d55d21ad7')
			</if>
		</if>
		ORDER BY f.ActualCount
	</select>

	<!-- 修改库存数量 -->
	<update id="editActualCount" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		ActualCount = #{ActualCount}
		where
		Stock_ID = #{Stock_ID}
	</update>

	<!-- 库存查询 -->
	<select id="stocklistPage" parameterType="page" resultType="pd">
		SELECT
		t.*,unit.FNAME AS FUnitName,
		w.FNAME WarehouseName,w.FCODE WarehouseCode,
		l.FNAME PositionName,l.FCODE PositionCode,
		m.MAT_NAME,m.MAT_CODE,c.FCLASS matClassName,d.NAME matAttributeName 
		FROM (
		SELECT
		SUM(f.ActualCount) ActualCount,f.ItemID,f.PositionID,f.WarehouseID,FUnit,f.OneThingCode
		from MM_Stock f
		GROUP BY f.WarehouseID,f.PositionID,f.ItemID,FUnit,f.OneThingCode
		) t
		LEFT JOIN MBASE_MAT_BASIC m ON t.ItemID=m.MAT_BASIC_ID
		LEFT JOIN MWMS_WH_WAREHOUSE w on t.WarehouseID=w.WH_WAREHOUSE_ID
		LEFT JOIN MWMS_WH_LOCATION l ON t.PositionID=l.WH_LOCATION_ID
		LEFT JOIN MBASE_UNIT_INFO unit ON unit.UNIT_INFO_ID = t.FUnit
		LEFT JOIN MBASE_MAT_CLASS c ON m.MAT_CLASS_ID=c.MAT_CLASS_ID 
		LEFT JOIN SYS_DICTIONARIES d ON m.MAT_ATTRIBUTE=d.DICTIONARIES_ID
		where 1=1
		and ActualCount &gt; 0
		<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
			(
			m.MAT_NAME LIKE '%'+ #{pd.KEYWORDS}+'%'
			or
			m.MAT_CODE LIKE '%'+ #{pd.KEYWORDS}+'%'
			)
		</if>
		<if test="pd.MAT_NAME != null and pd.MAT_NAME != ''"><!-- 物料名称 -->
			and m.MAT_NAME = #{pd.MAT_NAME}
		</if>
		<if test="pd.ItemID != null and pd.ItemID != ''"><!-- 物料ID -->
			and t.ItemID = #{pd.ItemID}
		</if>
		<if test="pd.WarehouseID != null and pd.WarehouseID != ''"><!-- 仓库ID -->
			and w.WH_WAREHOUSE_ID = #{pd.WarehouseID}
		</if>
		<if test="pd.PositionID != null and pd.PositionID != ''"><!-- 仓位ID -->
			and l.WH_LOCATION_ID = #{pd.PositionID}
		</if>


		[fhstart] ORDER BY WarehouseCode,PositionCode [fhend]
	</select>

	<select id="stockTotallistPage" parameterType="page" resultType="pd">
		SELECT
		t.*, mx.MAT_AUXILIARYMX_NAME,unit.FNAME AS FUnitName,
		w.FNAME WarehouseName,
		w.FCODE
		WarehouseCode,
		m.MAT_NAME,
		m.MAT_CODE,c.FCLASS matClassName,d.NAME matAttributeName
		FROM
		(
		SELECT
		SUM (f.ActualCount) ActualCount,
		f.ItemID,
		f.WarehouseID,
		FUnit,
		f.MaterialSPropKey
		FROM
		MM_Stock f
		GROUP BY
		f.WarehouseID,
		f.ItemID,
		FUnit,
		f.MaterialSPropKey
		) t
		LEFT JOIN MBASE_MAT_BASIC m ON t.ItemID = m.MAT_BASIC_ID
		LEFT JOIN MWMS_WH_WAREHOUSE w ON t.WarehouseID = w.WH_WAREHOUSE_ID
		LEFT JOIN MBASE_MAT_AUXILIARYMX mx ON mx.MAT_AUXILIARYMX_ID = t.MaterialSPropKey
		LEFT JOIN MBASE_UNIT_INFO unit ON unit.UNIT_INFO_ID = t.FUnit 
		LEFT JOIN MBASE_MAT_CLASS c ON m.MAT_CLASS_ID=c.MAT_CLASS_ID 
		LEFT JOIN SYS_DICTIONARIES d ON m.MAT_ATTRIBUTE=d.DICTIONARIES_ID 
		WHERE
		1 = 1
		and ActualCount &gt; 0
		<if test="pd.MAT_NAME != null and pd.MAT_NAME != ''"><!-- 物料名称 -->
			and m.MAT_NAME like '%'+ #{pd.MAT_NAME}+'%'
		</if>
		<if test="pd.WarehouseID != null and pd.WarehouseID != ''"><!-- 仓库ID -->
			and w.WH_WAREHOUSE_ID = #{pd.WarehouseID}
		</if>
		<if test="pd.MaterialSPropKey != null and pd.MaterialSPropKey != ''"><!-- 物料辅助属性 -->
			and mx.MAT_AUXILIARYMX_NAME like '%'+ #{pd.MaterialSPropKey}+'%'
		</if>
		[fhstart] ORDER BY WarehouseCode [fhend]
	</select>

	<select id="getActualCountByFTYPEAndItemID" parameterType="pd"
		resultType="pd">
		SELECT
		SUM (ActualCount) as ActualCount ,
		ItemID
		FROM
		MM_Stock s
		LEFT JOIN MWMS_WH_WAREHOUSE w ON w.WH_WAREHOUSE_ID = s.WarehouseID
		WHERE
		1 = 1
		AND w.FTYPE = #{FType}
		AND w.FClass = #{FClass}
		AND
		s.MaterialSPropKey IS NOT NULL
		AND s.RunningState = '在用'
		AND ItemID =
		#{ItemId}
		<if test="MaterialSPropKey != null and MaterialSPropKey != ''"><!-- 物料辅助属性 -->
			and s.MaterialSPropKey like '%'+ #{MaterialSPropKey}+'%'
		</if>
		GROUP BY
		ItemID
	</select>
		<select id="getStockListByFTYPEAndItemID" parameterType="pd"
		resultType="pd">
		SELECT
		s.*
		FROM
		MM_Stock s
		LEFT JOIN MWMS_WH_WAREHOUSE w ON w.WH_WAREHOUSE_ID = s.WarehouseID
		WHERE
		1 = 1
		AND w.FTYPE = #{FType}
		AND w.FClass = #{FClass}
		AND
		s.MaterialSPropKey IS NOT NULL
		AND s.RunningState = '在用'
		AND s.ActualCount &gt; 0
		AND ItemID =
		#{ItemId}
		<if test="MaterialSPropKey != null and MaterialSPropKey != ''"><!-- 物料辅助属性 -->
			and s.MaterialSPropKey like '%'+ #{MaterialSPropKey}+'%'
		</if>
		order by s.ActualCount asc
		
	</select>
	<select id="getMaterialInfo4QrcodeSearchlistPage" parameterType="page"
		resultType="pd">
		SELECT
		f.MAT_BASIC_ID,
		f.MAT_CODE,
		f.MAT_NAME,
		f.MAT_ALIAS,
		f.MAT_BRAND,
		f.MAT_AUXILIARY_UNIT,
		f.MAT_SPECS,
		f.DANGER_LEVEL,
		f.ARCHIVE_WHETHER,
		f.FCREATOR,
		f.CREATE_TIME,
		f.FBATCH,
		m.ActualCount ACTUAL_COUNT,
		m.GuaranteePeriod GUARANTEE_PERIOD,
		s.FName SUPPLIER_NAME,
		w.FNAME WAREHOUSE_NAME,
		l.FNAME POSITION_NAME
		FROM
		MBASE_MAT_BASIC f
		LEFT JOIN MM_Stock m ON m.ItemID = f.MAT_BASIC_ID
		LEFT JOIN
		MWMS_WH_WAREHOUSE w ON w.WH_WAREHOUSE_ID = m.WarehouseID
		LEFT JOIN
		MWMS_WH_LOCATION l ON m.PositionID = l.WH_LOCATION_ID
		LEFT JOIN
		KM_Supplier s ON s.Supplier_ID = m.SupplierID
		WHERE 1=1
		<if test="pd.MAT_CODE != null and pd.MAT_CODE != ''"><!-- 二维码 -->
			AND f.MAT_CODE LIKE '%'+ #{pd.MAT_CODE}+'%'
		</if>
		<if test="pd.ItemID != null and pd.ItemID != ''"><!-- 物料ID -->
			AND m.ItemID = #{pd.ItemID}
		</if>
		<if test="pd.PositionID != null and pd.PositionID != ''"><!-- 仓位ID -->
			AND m.PositionID = #{pd.PositionID}
		</if>
		[fhstart] ORDER BY f.Create_Time DESC [fhend]
	</select>
	<!-- 批号查询 -->
	<select id="getBatchlistPage" parameterType="page" resultType="pd">
		SELECT
		t.*,mc.FCLASS className,p.WorkOrderNum,unit.FName as MAT_AUXILIARY_UNIT_NAME,
		m.MAT_NAME,m.MAT_CODE,m.MAT_ATTRIBUTE,m.MAT_AUXILIARY_UNIT
		FROM (
		SELECT
		SUM(f.ActualCount) ActualCount,f.ItemID,f.ProductionBatch
		from MM_Stock f
		GROUP BY f.ItemID,f.ProductionBatch
		) t
		LEFT JOIN MBASE_MAT_BASIC m ON t.ItemID=m.MAT_BASIC_ID
		LEFT JOIN MBASE_MAT_CLASS mc ON m.MAT_CLASS_ID=mc.MAT_CLASS_ID
		LEFT JOIN PP_PlanningWorkOrder p ON p.BatchNum=t.ProductionBatch
		LEFT JOIN MBASE_UNIT_INFO unit ON unit.UNIT_INFO_ID = m.MAT_AUXILIARY_UNIT
		WHERE 1=1
		and ActualCount &gt; 0
		<if test="pd.BatchNum != null and pd.BatchNum != ''"><!-- 工单批号 -->
			AND p.BatchNum LIKE '%'+ #{pd.BatchNum}+'%'
		</if>
		<if test="pd.ItemID != null and pd.ItemID != ''"><!-- 物料ID -->
			AND m.MAT_BASIC_ID = #{pd.ItemID}
		</if>
		<if test="pd.MAT_NAME != null and pd.MAT_NAME != ''"><!-- 物料名称 -->
			AND m.MAT_NAME = #{pd.MAT_NAME}
		</if>
		<if test="pd.MAT_CODE != null and pd.MAT_CODE != ''"><!-- 物料代码 -->
			AND m.MAT_CODE = #{pd.MAT_CODE}
		</if>
		[fhstart] ORDER BY p.WorkOrderNum DESC [fhend]
	</select>
	
	<!-- 获取物料详情 -->
	<select id="getDetailsItem" parameterType="pd" resultType="pd">
	 select TOP 1
		m.MAT_NAME,m.MAT_CODE,m.MAT_UNIT,
        fzsx.MAT_AUXILIARYMX_CODE,
		f.ItemID
		from
		MM_Stock
		f
		left join (
			SELECT f.*,f1.FNAME MAT_UNIT FROM MBASE_MAT_BASIC f
			LEFT JOIN MBASE_UNIT_INFO f1
			ON f.MAT_MAIN_UNIT = f1.UNIT_INFO_ID
	    ) m on f.ItemID=m.MAT_BASIC_ID
	    LEFT JOIN MBASE_MAT_AUXILIARYMX fzsx ON f.MaterialSPropKey=fzsx.MAT_AUXILIARYMX_ID
	   WHERE 1=1
	   <if test="OneThingCode != null and OneThingCode != ''"><!-- 工单批号 -->
			AND f.OneThingCode = #{OneThingCode}
	   </if>
	   <if test="MAT_AUXILIARYMX_CODE != null and MAT_AUXILIARYMX_CODE != ''"><!-- 工单批号 -->
			AND fzsx.MAT_AUXILIARYMX_CODE = #{MAT_AUXILIARYMX_CODE}
	   </if>
	   <if test="QRCode != null and QRCode != ''"><!-- 工单批号 -->
			AND f.QRCode = #{QRCode}
	   </if>
   </select>
   	<!-- 手机端库存查询 -->
	<select id="AppList" parameterType="org.yy.controller.app.AppPage" resultType="pd">
		SELECT
		t.ActualCount,					--数量
		t.ItemID  , 					--物料ID
		t.PositionID  ,					--仓位ID
		t.WarehouseID  ,				--仓库ID
		t.FUnit  , 						--单位ID
		t.OneThingCode  ,				--一物码
		t.MaterialSProp, 				--辅助属性ID
		a.MAT_AUXILIARY_NAME,     		--辅助属性名称
		t.MaterialSPropKey,  			--辅助属性值ID 
		b.MAT_AUXILIARYMX_NAME,			--辅助属性值名称
		t.FCreateTime  ,				--创建时间
		unit.FNAME AS FUnitName,		--单位名称
		w.FNAME WarehouseName,			--仓库名称
		w.FCODE WarehouseCode,			--仓库编号
		l.FNAME PositionName,			--仓位名称
		l.FCODE PositionCode,			--仓位编号
		m.MAT_NAME,						--物料名称
		m.MAT_CODE						--物料编码
		FROM (
		SELECT
		SUM(f.ActualCount) ActualCount,f.ItemID,f.PositionID,f.WarehouseID,FUnit,f.OneThingCode,f.FCreateTime,f.MaterialSProp,f.MaterialSPropKey
		from MM_Stock f
		GROUP BY f.WarehouseID,f.PositionID,f.ItemID,FUnit,f.OneThingCode,f.FCreateTime,f.MaterialSProp,
		f.MaterialSPropKey
		) t
		LEFT JOIN MBASE_MAT_BASIC m ON t.ItemID=m.MAT_BASIC_ID   --关联物料表，获取物料名称和编码
		LEFT JOIN MWMS_WH_WAREHOUSE w on t.WarehouseID=w.WH_WAREHOUSE_ID -- 关联仓库表，获取仓库名称和编号
		LEFT JOIN MWMS_WH_LOCATION l ON t.PositionID=l.WH_LOCATION_ID		--关联仓位表，获取仓位名称和编号
		left join MBASE_MAT_AUXILIARY a on t.MaterialSProp = a.MAT_AUXILIARY_ID -- 关联辅助属性表，获取名称
		LEFT JOIN MBASE_MAT_AUXILIARYMX b on t.MaterialSPropKey = b.MAT_AUXILIARYMX_ID --关联辅助属性值表，获取名称
		LEFT JOIN MBASE_UNIT_INFO unit ON unit.UNIT_INFO_ID = t.FUnit
		where 1=1
		and ActualCount &gt; 0
		<if test="pd.MAT_NAME != null and pd.MAT_NAME != ''"><!-- 关键词检索 -->
			and
			(
			m.MAT_NAME LIKE '%'+ #{pd.MAT_NAME}+'%'
			or
			m.MAT_CODE LIKE '%'+ #{pd.MAT_NAME}+'%'
			)
		</if>
		<if test="pd.Warehouse != null and pd.Warehouse != ''"><!-- 仓库名称或编号 -->
			and 
			(
				w.FNAME like '%' + #{pd.Warehouse} + '%'
			or
				w.FCODE like '%' + #{pd.Warehouse} + '%'
			)
		</if>
		<if test="pd.Position != null and pd.Position != ''"><!-- 仓位名称或编号 -->
			and 
			(
				l.FNAME like '%' + #{pd.Position} + '%'
			or
				l.FCODE like '%' + #{pd.Position} + '%'
			)
		</if>
	</select>
	
	<!-- 库存预警列表 -->
	<select id="safeStaocklistPage" parameterType="page" resultType="pd">
		SELECT * FROM(
		 SELECT t.*,ISNULL(t1.ActualCount, 0) ActualCount,ISNULL(t.SAFE_STOCK_QTY, 0)-ISNULL(t1.ActualCount, 0) as SAFE_STOCK_NUM,Convert(decimal(18,2),ISNULL(t.SAFE_STOCK_QTY, 0)/3+ISNULL(t.SAFE_STOCK_QTY, 0))AS NUM FROM (
				  SELECT f.*,t.FCLASS,f1.FNAME FUNITNAME,f2.FNAME AUXILIARY_UNITNAME,f3.MAT_AUXILIARY_NAME,f4.NAME MAT_ATTRIBUTENAME FROM MBASE_MAT_BASIC f 
				    LEFT JOIN MBASE_MAT_CLASS t ON f.MAT_CLASS_ID=t.MAT_CLASS_ID
						left join MBASE_UNIT_INFO f1 on f.MAT_MAIN_UNIT=f1.UNIT_INFO_ID
						left join MBASE_UNIT_INFO f2 on f.MAT_AUXILIARY_UNIT=f2.UNIT_INFO_ID 
				    left join MBASE_MAT_AUXILIARY f3 ON f.MAT_AUXILIARY_ID = f3.MAT_AUXILIARY_ID 
				    left join SYS_DICTIONARIES f4 ON f.MAT_ATTRIBUTE=f4.DICTIONARIES_ID
				   WHERE f.SAFE_STOCK='启用'
				)t
				LEFT JOIN (
					SELECT SUM(f.ActualCount) ActualCount,f.ItemID from MM_Stock f GROUP BY f.ItemID
				)t1
				ON t.MAT_BASIC_ID=t1.ItemID
		)n
		 WHERE 1=1
		<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
			(
			n.MAT_NAME LIKE '%'+ #{pd.KEYWORDS}+'%'
			or
			n.MAT_CODE LIKE '%'+ #{pd.KEYWORDS}+'%'
			or
			n.MAT_ATTRIBUTENAME LIKE '%'+ #{pd.KEYWORDS}+'%'
			)
		</if>
		<if test="pd.EARLYWARNTYPE != null and pd.EARLYWARNTYPE != '' and pd.EARLYWARNTYPE == 'Exceed'"><!-- 关键词检索 -->
			and
			(
			n.SAFE_STOCK_QTY &gt; n.ActualCount
			)
		</if>
		<if test="pd.EARLYWARNTYPE != null and pd.EARLYWARNTYPE != '' and pd.EARLYWARNTYPE == 'Normal'"><!-- 关键词检索 -->
			and
			(
			n.ActualCount &gt; n.NUM
			)
		</if>
		<if test="pd.EARLYWARNTYPE != null and pd.EARLYWARNTYPE != '' and pd.EARLYWARNTYPE == 'BeAboutTo'"><!-- 关键词检索 -->
			and
			(
			n.ActualCount &gt; n.SAFE_STOCK_QTY
			and
			n.ActualCount &lt; n.NUM
			)
		</if>
		[fhstart] ORDER BY EARLY_WARN DESC,SAFE_STOCK_NUM DESC [fhend]
	</select>
	
	<!-- 车间-库存查询-汇总 -->
	<select id="stockTotallistPageCJ" parameterType="page" resultType="pd">
		SELECT
		t.*, mx.MAT_AUXILIARYMX_NAME,unit.FNAME AS FUnitName,
		w.FNAME WarehouseName,
		w.FCODE
		WarehouseCode,
		m.MAT_NAME,
		m.MAT_CODE,c.FCLASS matClassName,d.NAME matAttributeName
		FROM
		(
		SELECT
		SUM (f.ActualCount) ActualCount,
		f.ItemID,
		f.WarehouseID,
		FUnit,
		f.MaterialSPropKey
		FROM
		MM_Stock f
		GROUP BY
		f.WarehouseID,
		f.ItemID,
		FUnit,
		f.MaterialSPropKey
		) t
		LEFT JOIN MBASE_MAT_BASIC m ON t.ItemID = m.MAT_BASIC_ID
		LEFT JOIN MWMS_WH_WAREHOUSE w ON t.WarehouseID = w.WH_WAREHOUSE_ID
		LEFT JOIN MBASE_MAT_AUXILIARYMX mx ON mx.MAT_AUXILIARYMX_ID = t.MaterialSPropKey
		LEFT JOIN MBASE_UNIT_INFO unit ON unit.UNIT_INFO_ID = t.FUnit 
		LEFT JOIN MBASE_MAT_CLASS c ON m.MAT_CLASS_ID=c.MAT_CLASS_ID 
		LEFT JOIN SYS_DICTIONARIES d ON m.MAT_ATTRIBUTE=d.DICTIONARIES_ID 
		WHERE
		1 = 1
		and ActualCount &gt; 0 
		and (w.WH_WAREHOUSE_ID = '44a9b39b36384c2b9a026bde7f4c6875' or w.WH_WAREHOUSE_ID = 'b016eced88234f6eab7fe4217ee79610')
		<if test="pd.MAT_NAME != null and pd.MAT_NAME != ''"><!-- 物料名称 -->
			and m.MAT_NAME like '%'+ #{pd.MAT_NAME}+'%'
		</if>
		<if test="pd.MaterialSPropKey != null and pd.MaterialSPropKey != ''"><!-- 物料辅助属性 -->
			and mx.MAT_AUXILIARYMX_NAME like '%'+ #{pd.MaterialSPropKey}+'%'
		</if>
		[fhstart] ORDER BY WarehouseCode [fhend]
	</select>
	
	<!-- 车间-库存查询 -->
	<select id="stocklistPageCJ" parameterType="page" resultType="pd">
		SELECT
		t.*,unit.FNAME AS FUnitName,
		w.FNAME WarehouseName,w.FCODE WarehouseCode,
		l.FNAME PositionName,l.FCODE PositionCode,
		m.MAT_NAME,m.MAT_CODE,c.FCLASS matClassName,d.NAME matAttributeName 
		FROM (
		SELECT
		SUM(f.ActualCount) ActualCount,f.ItemID,f.PositionID,f.WarehouseID,FUnit,f.OneThingCode
		from MM_Stock f
		GROUP BY f.WarehouseID,f.PositionID,f.ItemID,FUnit,f.OneThingCode
		) t
		LEFT JOIN MBASE_MAT_BASIC m ON t.ItemID=m.MAT_BASIC_ID
		LEFT JOIN MWMS_WH_WAREHOUSE w on t.WarehouseID=w.WH_WAREHOUSE_ID
		LEFT JOIN MWMS_WH_LOCATION l ON t.PositionID=l.WH_LOCATION_ID
		LEFT JOIN MBASE_UNIT_INFO unit ON unit.UNIT_INFO_ID = t.FUnit
		LEFT JOIN MBASE_MAT_CLASS c ON m.MAT_CLASS_ID=c.MAT_CLASS_ID 
		LEFT JOIN SYS_DICTIONARIES d ON m.MAT_ATTRIBUTE=d.DICTIONARIES_ID
		where 1=1
		and ActualCount &gt; 0
		and (w.WH_WAREHOUSE_ID = '44a9b39b36384c2b9a026bde7f4c6875' or w.WH_WAREHOUSE_ID = 'b016eced88234f6eab7fe4217ee79610')
		<if test="pd.MAT_NAME != null and pd.MAT_NAME != ''"><!-- 物料名称 -->
			and m.MAT_NAME like '%'+ #{pd.MAT_NAME}+'%'
		</if>
		[fhstart] ORDER BY WarehouseCode,PositionCode [fhend]
	</select>
	<!-- yy356703572qq(彬耶) -->
</mapper>