<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yy.mapper.dsno1.mm.TakeStock_Task_MaterialMapper">
	
	<!-- 盘点任务明细 -->

	<!--表名 -->
	<sql id="tableName">
		MM_TakeStock_Task_Material
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.TakeStock_Task_ID,	
		f.FEntryID,	
		f.Material_ID,	
		f.Repertory_Count,	
		f.IfFEntryClose,	
		f.TakeStock_Task_Material_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		TakeStock_Task_ID,	
		FEntryID,	
		Material_ID,	
		Repertory_Count,	
		IfFEntryClose,	
		TakeStock_Task_Material_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TakeStock_Task_ID},	
		#{FEntryID},	
		#{Material_ID},	
		#{Repertory_Count},	
		#{IfFEntryClose},	
		#{TakeStock_Task_Material_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			TakeStock_Task_Material_ID = #{TakeStock_Task_Material_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TakeStock_Task_ID = #{TakeStock_Task_ID},
			FEntryID = #{FEntryID},
			Material_ID = #{Material_ID},
			Repertory_Count = #{Repertory_Count},
			IfFEntryClose = #{IfFEntryClose}
		where 
			TakeStock_Task_Material_ID = #{TakeStock_Task_Material_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			f.TakeStock_Task_Material_ID,
			f.FEntryID, --行号
			a.MAT_CODE, --物料代码
			a.MAT_NAME, -- 物料名称
			f.Repertory_Count,--库存数量
			case when f.IfFEntryClose = 1 then '未关闭' else '已关闭' end IfFEntryClose --行关闭
			from 
			MM_TakeStock_Task_Material f 
			LEFT JOIN MBASE_MAT_BASIC a on f.Material_ID = a.MAT_BASIC_ID
		where 
			f.TakeStock_Task_Material_ID = #{TakeStock_Task_Material_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select 
			f.TakeStock_Task_Material_ID,
			f.FEntryID, --行号
			a.MAT_CODE, --物料代码
			a.MAT_NAME, -- 物料名称
			f.Repertory_Count,--库存数量
			case when f.IfFEntryClose = 1 then '未关闭' else '已关闭' end IfFEntryClose --行关闭
			from 
			MM_TakeStock_Task_Material f 
			LEFT JOIN MBASE_MAT_BASIC a on f.Material_ID = a.MAT_BASIC_ID
			where f.TakeStock_Task_ID = #{pd.TakeStock_Task_ID}
			[fhstart] ORDER BY f.FEntryID [fhend]
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select 
			f.TakeStock_Task_Material_ID,
			f.FEntryID, --行号
			a.MAT_CODE, --物料代码
			a.MAT_NAME, -- 物料名称
			f.Material_ID,
			f.Repertory_Count,--库存数量
			case when f.IfFEntryClose = 1 then '未关闭' else '已关闭' end IfFEntryClose --行关闭
			from 
			MM_TakeStock_Task_Material f 
			LEFT JOIN MBASE_MAT_BASIC a on f.Material_ID = a.MAT_BASIC_ID
			where f.TakeStock_Task_ID = #{TakeStock_Task_ID}
			 ORDER BY f.FEntryID 
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			TakeStock_Task_Material_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<update id="CloseHang" parameterType="pd">
		update 
			<include refid="tableName"></include>
		set
			IfFEntryClose = 0
		where 
			TakeStock_Task_Material_ID = #{TakeStock_Task_Material_ID}
	</update>
	<!-- 手机端列表 -->
	<select id="AppList" parameterType="org.yy.controller.app.AppPage" resultType="pd">
		select 
			f.TakeStock_Task_Material_ID,
			f.TakeStock_Task_ID,
			f.Material_ID,--物料ID
			f.FEntryID, --行号
			a.MAT_CODE, --物料代码
			a.MAT_NAME, -- 物料名称
            a.FNAME MAT_UNIT, --物料单位
			f.Repertory_Count,--库存数量
			ISNULL(b.TakeStock_Count, 0) AS TakeStock_Count,--盘点数量
			case when f.IfFEntryClose = 1 then '未关闭' else '已关闭' end IfFEntryClose --行关闭
			from 
			MM_TakeStock_Task_Material f 
			LEFT JOIN (
              SELECT t.*,t1.FNAME FROM MBASE_MAT_BASIC t LEFT JOIN MBASE_UNIT_INFO t1 ON t.MAT_MAIN_UNIT = t1.UNIT_INFO_ID
             ) a on f.Material_ID = a.MAT_BASIC_ID
            LEFT JOIN (
			   SELECT n.TakeStock_Task_Material_ID,SUM(n.TakeStock_Count)AS TakeStock_Count FROM MM_TakeStock_Task_Execute n GROUP BY n.TakeStock_Task_Material_ID
			) b ON f.TakeStock_Task_Material_ID=b.TakeStock_Task_Material_ID
			where f.TakeStock_Task_ID = #{pd.TakeStock_Task_ID}
			<if test="pd.KeyWords != null and pd.KeyWords != ''"><!-- 关键词检索  任务单号 -->
			and
				(
				a.MAT_CODE like '%'+ #{pd.KeyWords} +'%'
				or
				a.MAT_NAME like '%'+ #{pd.KeyWords} +'%'
				)
		</if>
	</select>
	
	
	<!-- 获取一级物料明细数量 -->
	<select id="getTaskMaterialNum" parameterType="pd" resultType="pd">
		SELECT f.TakeStock_Task_ID,COUNT(*) TaskMaterialNum FROM MM_TakeStock_Task_Material f
			WHERE f.TakeStock_Task_ID = #{TakeStock_Task_ID}
			GROUP BY f.TakeStock_Task_ID
	</select>
	
	<!-- 获取一级物料明细详情 -->
	<select id="getTaskMaterial" parameterType="pd" resultType="pd">
		select 
			f.TakeStock_Task_Material_ID,
            f.TakeStock_Task_ID,
			f.FEntryID, --行号
			a.MAT_CODE, --物料代码
			a.MAT_BASIC_ID,--物料ID
			a.MAT_NAME, -- 物料名称
            a.FNAME MAT_UNIT,--物料单位
			f.Repertory_Count,--库存数量
            ISNULL(b.TakeStock_Count, 0) TakeStock_Count,--盘点数量
            c.TaskMaterialNum,--待执行条数
			case when f.IfFEntryClose = 1 then '未关闭' else '已关闭' end IfFEntryClose --行关闭
			from 
			MM_TakeStock_Task_Material f 
			LEFT JOIN (
               SELECT t.*,t1.FNAME FROM MBASE_MAT_BASIC t LEFT JOIN MBASE_UNIT_INFO t1 ON t.MAT_MAIN_UNIT = t1.UNIT_INFO_ID
            ) a on f.Material_ID = a.MAT_BASIC_ID
            LEFT JOIN (
			   SELECT n.TakeStock_Task_Material_ID,SUM(n.TakeStock_Count)AS TakeStock_Count FROM MM_TakeStock_Task_Execute n GROUP BY n.TakeStock_Task_Material_ID
			) b ON f.TakeStock_Task_Material_ID=b.TakeStock_Task_Material_ID
            LEFT JOIN (
               SELECT f.TakeStock_Task_ID,COUNT(*) TaskMaterialNum FROM MM_TakeStock_Task_Material f WHERE f.IfFEntryClose=1 GROUP BY f.TakeStock_Task_ID
            ) c ON f.TakeStock_Task_ID = c.TakeStock_Task_ID 
		where 
			f.TakeStock_Task_Material_ID = #{TakeStock_Task_Material_ID}
	</select>
	
	<!-- 通过任务ID获取物料明细列表 -->
	<select id="getTaskMaterialAll" parameterType="pd" resultType="pd">
		select 
			f.TakeStock_Task_Material_ID,
            f.TakeStock_Task_ID,
            f.Material_ID,--物料ID
			f.FEntryID, --行号
			a.MAT_CODE, --物料代码
			a.MAT_NAME, -- 物料名称
            a.FNAME MAT_UNIT,--物料单位
			f.Repertory_Count,--库存数量
            ISNULL(b.TakeStock_Count, 0) TakeStock_Count,--盘点数量
            c.TaskMaterialNum,--待执行条数
			case when f.IfFEntryClose = 1 then '未关闭' else '已关闭' end IfFEntryClose --行关闭
			from 
			MM_TakeStock_Task_Material f 
			LEFT JOIN (
               SELECT t.*,t1.FNAME FROM MBASE_MAT_BASIC t LEFT JOIN MBASE_UNIT_INFO t1 ON t.MAT_MAIN_UNIT = t1.UNIT_INFO_ID
            ) a on f.Material_ID = a.MAT_BASIC_ID
            LEFT JOIN (
			   SELECT n.TakeStock_Task_Material_ID,SUM(n.TakeStock_Count)AS TakeStock_Count FROM MM_TakeStock_Task_Execute n GROUP BY n.TakeStock_Task_Material_ID
			) b ON f.TakeStock_Task_Material_ID=b.TakeStock_Task_Material_ID
            LEFT JOIN (
               SELECT f.TakeStock_Task_ID,COUNT(*) TaskMaterialNum FROM MM_TakeStock_Task_Material f WHERE f.IfFEntryClose=1 GROUP BY f.TakeStock_Task_ID
            ) c ON f.TakeStock_Task_ID = c.TakeStock_Task_ID 
		where 
			f.TakeStock_Task_ID = #{TakeStock_Task_ID}
			order by FEntryID ASC
	</select>
	
</mapper>