<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yy.mapper.dsno1.pp.PurchaseApplyForMapper">
	
	<!--表名 -->
	<sql id="tableName">
		PP_PurchaseApplyFor
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.FNum,	
		f.FDescribe,	
		f.FState,	
		f.FMakeBillsPersoID,	
		f.FMakeBillsTime,	
		f.FCheckPersonID,	
		f.FCheckTime,	
		f.FCheckIdea,	
		f.PurchaseApplyFor_ID
	</sql>
	
	<!-- 字段 -->
	<sql id="Field2">
		FNum,	
		FDescribe,	
		FState,	
		FMakeBillsPersoID,	
		FMakeBillsTime,	
		FCheckPersonID,	
		FCheckTime,	
		FCheckIdea,	
		PurchaseApplyFor_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{FNum},	
		#{FDescribe},	
		#{FState},	
		#{FMakeBillsPersoID},	
		#{FMakeBillsTime},	
		#{FCheckPersonID},	
		#{FCheckTime},	
		#{FCheckIdea},	
		#{PurchaseApplyFor_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PurchaseApplyFor_ID = #{PurchaseApplyFor_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FNum = #{FNum},
			FDescribe = #{FDescribe},
			FState = #{FState},
			FMakeBillsPersoID = #{FMakeBillsPersoID},
			FMakeBillsTime = #{FMakeBillsTime},
			FCheckPersonID = #{FCheckPersonID},
			FCheckTime = #{FCheckTime},
			FCheckIdea = #{FCheckIdea},
			PurchaseApplyFor_ID = PurchaseApplyFor_ID
		where 
			PurchaseApplyFor_ID = #{PurchaseApplyFor_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>,f1.NAME FMakeBillsPerso,f2.NAME FCheckPerson
		from 
		<include refid="tableName"></include> f
		LEFT JOIN OA_STAFF f1
		ON f.FMakeBillsPersoID = f1.STAFF_ID
		LEFT JOIN OA_STAFF f2
		ON f.FCheckPersonID = f2.STAFF_ID
		where 
			f.PurchaseApplyFor_ID = #{PurchaseApplyFor_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>,f1.NAME FMakeBillsPerso,f2.NAME FCheckPerson,
		CASE WHEN f.FState='结束' THEN '5' WHEN f.FState='驳回' THEN '2' WHEN f.FState='通过' THEN '4' WHEN f.FState='下发' THEN '3' ELSE '1' END AS STATE
		from 
		<include refid="tableName"></include> f
		LEFT JOIN OA_STAFF f1
		ON f.FMakeBillsPersoID = f1.STAFF_ID
		LEFT JOIN OA_STAFF f2
		ON f.FCheckPersonID = f2.STAFF_ID
		where 1=1
		<if test="pd.KEYWORDS!= null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					f.FNum LIKE '%'+ #{pd.KEYWORDS}+'%'
					 or 
					f.FState LIKE '%'+ #{pd.KEYWORDS}+'%' 
					 or 
					f1.NAME LIKE '%'+ #{pd.KEYWORDS}+'%' 
					 or 
					f2.NAME LIKE '%'+ #{pd.KEYWORDS}+'%' 
				)
		</if>
		[fhstart] ORDER BY STATE,FMakeBillsTime desc [fhend]
		<!-- [fhstart] ORDER BY CHARINDEX(FState,'创下通结' ) [fhend]  -->
	</select>
	
	<!-- 审批列表-->
	<select id="datalistPageAudit" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>,f1.NAME FMakeBillsPerso,f2.NAME FCheckPerson
		from 
		<include refid="tableName"></include> f
		LEFT JOIN OA_STAFF f1
		ON f.FMakeBillsPersoID = f1.STAFF_ID
		LEFT JOIN OA_STAFF f2
		ON f.FCheckPersonID = f2.STAFF_ID
		where 1=1 and (f.FState='下发'  or f.FState='通过' or f.FState='驳回')
		<if test="pd.KEYWORDS!= null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					f.FNum LIKE '%'+ #{pd.KEYWORDS}+'%'
					 or 
					f.FState LIKE '%'+ #{pd.KEYWORDS}+'%' 
					 or 
					f1.NAME LIKE '%'+ #{pd.KEYWORDS}+'%' 
					 or 
					f2.NAME LIKE '%'+ #{pd.KEYWORDS}+'%' 
				)
		</if>
		[fhstart] order by FState DESC [fhend] 
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PurchaseApplyFor_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 更新审核状态-->
	<update id="editState" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FState = #{FState}
		where 
			PurchaseApplyFor_ID = #{PurchaseApplyFor_ID}
	</update>
	
	<!-- 更新审批状态-->
	<update id="editAudit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FState = #{FState},
			FCheckPersonID = #{FCheckPersonID},
			FCheckTime = #{FCheckTime},
			FCheckIdea = #{FCheckIdea}
		where 
			PurchaseApplyFor_ID = #{PurchaseApplyFor_ID}
	</update>
	
	<!-- 带明细导出 -->
	<select id="listExcelAll" parameterType="pd" resultType="pd">
			SELECT paf.FNum,paf.FDescribe,paf.FState,paf.FMakeBillsPerso,paf.FMakeBillsTime,paf.FCheckPerson,paf.FCheckTime,paf.FCheckIdea,pafm.* FROM(
	select
			f.*,f1.NAME FMakeBillsPerso,f2.NAME FCheckPerson
			from 
			PP_PurchaseApplyFor f
			LEFT JOIN OA_STAFF f1
			ON f.FMakeBillsPersoID = f1.STAFF_ID
			LEFT JOIN OA_STAFF f2
			ON f.FCheckPersonID = f2.STAFF_ID
	)paf
	LEFT JOIN(
	select
			f.*,f1.MAT_NAME,f1.MAT_CODE,f1.UnitName,f2.OrderNum,f3.MAT_NAME ORDERMAT_NAME,f4.WorkOrderNum,f5.NAME FPushPeople
			from 
			PP_PurchaseApplyForMx f
			LEFT JOIN (SELECT t.MAT_BASIC_ID,t.MAT_NAME,t.MAT_CODE,t1.FNAME UnitName FROM MBASE_MAT_BASIC t LEFT JOIN MBASE_UNIT_INFO t1 ON t.MAT_AUXILIARY_UNIT=t1.UNIT_INFO_ID) f1 
			ON f.MaterialID = f1.MAT_BASIC_ID
			LEFT JOIN PP_SalesOrder f2
			ON f.SalesOrder_ID=f2.SalesOrder_ID
			LEFT JOIN MBASE_MAT_BASIC f3
			ON f.SalesOrderMaterial_ID=f3.MAT_BASIC_ID 
			LEFT JOIN PP_PlanningWorkOrder f4
			ON f.PlanningWorkOrder_ID=f4.PlanningWorkOrder_ID 
			LEFT JOIN OA_STAFF f5
			ON f.FPushPeopleID= f5.STAFF_ID
	)pafm
	ON paf.PurchaseApplyFor_ID=pafm.PurchaseApplyFor_ID
	WHERE 1=1
	<if test="KEYWORDS!= null and KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					paf.FNum LIKE '%'+ #{KEYWORDS}+'%'
					 or 
					paf.FState LIKE '%'+ #{KEYWORDS}+'%' 
					 or 
					paf.FMakeBillsPerso LIKE '%'+ #{KEYWORDS}+'%' 
					 or 
					paf.FCheckPerson LIKE '%'+ #{KEYWORDS}+'%' 
				)
		</if>
		ORDER BY paf.FNum
	</select>
	<!-- yy356703572qq(彬耶) -->
</mapper>