<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yy.mapper.dsno1.pp.WeighingMaterialMapper">
	
	<!--表名 -->
	<sql id="tableName">
		PP_WeighingMaterial
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.WorkorderProcessIOExampleID,	
		f.WorkOrderNum,	
		f.WokNum,	
		f.WP,	
		f.MaterialName,	
		f.NetWeight,	
		f.Ftare,	
		f.FUnit,	
		f.WeighingTime,	
		f.WeighingPersonnel,	
		f.WeighingMaterial_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		WorkorderProcessIOExampleID,	
		WorkOrderNum,	
		WokNum,	
		WP,	
		MaterialName,	
		NetWeight,	
		Ftare,	
		FUnit,	
		WeighingTime,	
		WeighingPersonnel,	
		WeighingMaterial_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{WorkorderProcessIOExampleID},	
		#{WorkOrderNum},	
		#{WokNum},	
		#{WP},	
		#{MaterialName},	
		#{NetWeight},	
		#{Ftare},	
		#{FUnit},	
		#{WeighingTime},	
		#{WeighingPersonnel},	
		#{WeighingMaterial_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			WeighingMaterial_ID = #{WeighingMaterial_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			WorkorderProcessIOExampleID = #{WorkorderProcessIOExampleID},
			WorkOrderNum = #{WorkOrderNum},
			WokNum = #{WokNum},
			WP = #{WP},
			MaterialName = #{MaterialName},
			NetWeight = #{NetWeight},
			Ftare = #{Ftare},
			FUnit = #{FUnit},
			WeighingTime = #{WeighingTime},
			WeighingPersonnel = #{WeighingPersonnel}
		where 
			WeighingMaterial_ID = #{WeighingMaterial_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.WeighingMaterial_ID = #{WeighingMaterial_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select 
		isnull(staff.NAME,'无人员名称') StaffName,<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f 
		left join OA_STAFF staff on f.WeighingPersonnel=staff.STAFF_ID 
		where f.WorkorderProcessIOExampleID = #{WorkorderProcessIOExampleID} 
		<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					f.WorkOrderNum LIKE '%'+ #{pd.KEYWORDS}+'%' 
					 or 
					f.WP LIKE '%'+ #{pd.KEYWORDS}+'%' 
					 or 
					f.MaterialName LIKE '%'+ #{pd.KEYWORDS}+'%' 
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		isnull(staff.NAME,'无人员名称') StaffName,<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f 
		left join OA_STAFF staff on f.WeighingPersonnel=staff.STAFF_ID 
		where f.WorkorderProcessIOExampleID = #{WorkorderProcessIOExampleID} 
		<if test="KEYWORDS != null and KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					f.WorkOrderNum LIKE '%'+ #{KEYWORDS}+'%' 
					 or 
					f.WP LIKE '%'+ #{KEYWORDS}+'%' 
					 or 
					f.MaterialName LIKE '%'+ #{KEYWORDS}+'%' 
				)
		</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			WeighingMaterial_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- yy356703572qq(彬耶) -->
</mapper>